#tab, #tabContent {
    width: 500px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#data-container tbody th,
#data-container tbody td:nth-child(1),
#data-container tbody td:nth-child(2) {
    cursor: pointer;
}

#data-modal-map-main {
    width: 100%;
    height: 400px;
}